@inherits FilterBase

@* <Select Items="@Items" @bind-Value="@Value" OnSelectedItemChanged="_ => OnFilterValueChanged()"></Select> *@

<div class="mb-3">
    @* <InputText class="form-control" @bind-Value="@Value" placeholder="@Placeholder" /> *@
    <label >@Placeholder</label>
    <Select Items="ListItems" @bind-Value="Value"></Select>

</div>


@code {
    private string Value = "";

    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public List<SelectedItem> ListItems { get; set; }

    /// <summary>
    /// OnInitialized 方法
    /// </summary>
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    /// <summary>
    /// 重置过滤条件方法
    /// </summary>
    public override void Reset()
    {
        Value = "";

        StateHasChanged();
    }

    /// <summary>
    /// 生成过滤条件方法
    /// </summary>
    /// <returns></returns>
    public override FilterKeyValueAction GetFilterConditions()
    {
        var filter = new FilterKeyValueAction() { Filters = new() };
        filter.Filters.Add(new FilterKeyValueAction()
            {
                FieldKey = FieldKey,
                FieldValue = Value,
                FilterAction = FilterAction.GreaterThan
            });
        return filter;
    }
}
