@page "/catalogo/usuarios"

@using RAS823_MC_CiudadMunicipal_FrontEnd.Dto.Users
@using RAS823_MC_CiudadMunicipal_FrontEnd.Pages.Templates.TableFilters
@inherits UserListBase



<div class="container-fluid">

    <!-- ========== title-wrapper start ========== -->
    <div class="title-wrapper pt-30">
        <div class="row align-items-center header-container">
            <div class="col">
                <div class="title container-title">
                    <h3 class="principal-title">Mantenimiento de Usuarios</h3>
                </div>
            </div>
            <!-- end col -->
            <div class="col">
                <div class="breadcrumb-wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a>Cátalogo</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                Usuarios
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- ========== title-wrapper end ========== -->
    <!-- Invoice Wrapper Start -->
    <div class="invoice-wrapper">
        <div class="row">
            <div class="col-12">
                <div class="invoice-card card-style mb-30">
                    <div class="m-2">
                        <AuthorizeScopeDirective Scope="Create:User">
                            <Button Text="Agregar" Icon="bi bi-plus" @onclick="goToCreate" />
                        </AuthorizeScopeDirective>

                    </div>
                    @* @if (_getUserFilterResponse == null)
                    {
                    <span>No Hay Usuarios Registrados</span>
                    }
                    else
                    { *@
                    <Table TItem="GetUserForList" @ref=Table PageItemsSource="PageItems" TableSize="TableSize.Normal" RenderMode="TableRenderMode.Table"
                           IsPagination="true"
                           IsStriped="true" IsBordered="true" OnQueryAsync="@OnQueryAsync"
                           ShowSkeleton="true">
                        <TableColumns>
                            @* Filterable activar filtros *@
                            <TableColumn @bind-Field="@context.Identification" Width="170" TextWrap="true" Filterable="true" Text="Cédula">
                                <FilterTemplate>
                                    <TextFilter Placeholder="Buscar por identificación"></TextFilter>
                                </FilterTemplate>
                            </TableColumn>
                            <TableColumn @bind-Field="@context.UserName" Width="170" TextWrap="true" Filterable="false" Text="Nombre de usuario">
                                <Template Context="value">
                                    <div class="table-cell is-wrap">
                                        @value.Row.Name @value.Row.Lastname
                                    </div>
                                </Template>
                            </TableColumn>

                            <TableColumn @bind-Field="@context.EmailAddress" Width="170" TextWrap="true" Filterable="true" Text="Correo electrónico">
                                <FilterTemplate>
                                    <TextFilter Placeholder="Buscar por correo"></TextFilter>
                                </FilterTemplate>
                            </TableColumn>
                            <TableColumn @bind-Field="@context.PhoneNumber" Width="170" TextWrap="true" Filterable="false" Text="Teléfono">

                            </TableColumn>
                            <TableColumn @bind-Field="@context.RoleName" Width="170" TextWrap="true" Filterable="false" Text="Rol">

                            </TableColumn>
                            <TableColumn @bind-Field="@context.CreatedAt" Width="170" FormatString="yyyy-MM-dd hh:mm tt" TextWrap="true" Filterable="false" Text="Fecha Ingreso">

                            </TableColumn>

                            <TableColumn @bind-Field="@context.Enabled" Width="170" TextWrap="true" Filterable="false" Text="Estado">
                                <Template Context="value">
                                    @if (value.Row.Enabled)
                                    {
                                        <div class="text-success">Habilitado</div>
                                    }
                                    else
                                    {
                                        <div class="text-danger">Deshabilitado</div>
                                    }
                                </Template>
                            </TableColumn>
                            <TableColumn @bind-Field="@context.DepartmentName" Width="170" TextWrap="true" Filterable="false" Text="Departamento Asignado">

                            </TableColumn>
                            <TableColumn @bind-Field="@context.Id" Text="" Width="80">
                                <Template Context="v">
                                    <div class="custom-button-container">
                                        <AuthorizeScopeDirective Scope="Edit:User">
                                            <Button Text="Editar" Icon="bi bi-pencil-fill item-button" @onclick='(() => openEdit(v))' />
                                        </AuthorizeScopeDirective>

                                        @if (v.Row.Enabled)
                                        {
                                            <AuthorizeScopeDirective Scope="Edit:User">
                                                <Button Text="Deshabilitar" Icon="bi bi-x-circle item-button" @onclick='(() => inactiveUser(v))' Color="Color.Danger" />
                                            </AuthorizeScopeDirective>

                                        }
                                        else
                                        {
                                            <AuthorizeScopeDirective Scope="Edit:User">
                                                <Button Text="Habilitar" Icon="bi bi-check-circle item-button" @onclick='(() => activeUser(v))' Color="Color.Success" />
                                            </AuthorizeScopeDirective>

                                        }
                                    </div>
                                </Template>
                            </TableColumn>

                        </TableColumns>
                    </Table>
                </div>
                <!-- End Card -->
            </div>
            <!-- ENd Col -->
        </div>




    </div>
</div>



